@model AboutViewModel

<div class="callout callout-info">   
    <h1>@Model.Title</h1>

    <h5 class="mt-4">@Model.Message</h5>
    <p class="mt-4">Formed on @Model.FormedString <cite title="Source Title">(@Model.Days days ago)</cite></p>
</div>

<div style="text-align: center;">
    <h1>An icon</h1>
    <i class="bi bi-airplane"></i>
</div>

<div>
    <h6>an aria label</h6>
    <a asp-action="Edit" class="..." aria-label="edit student">
        <i class="bi bi-pen" title="edit student"></i>
    </a>
</div>


@* <div class="card text-center shadow mt-4">
    <div class="card-header bg-warning">
        <h2>@Model.Title</h2>
    </div>
    <div class="card-body">
        <div class="card-body">
            <h5 class="card-title">Mission Statement</h5>
            <p><em>@Model.Message</em></p>
        </div>
        <div class="card-footer text-muted">
            <div>Formed on @Model.FormedString <cite title="Source Title">(@Model.Days days ago)</cite></div>
        </div>
    </div>
</div> *@
